body {
    margin: 0;
    width: 100%;
    font-family: 'Noto Sans Georgian', sans-serif;
}
.navbar{
    background-color:#FFC017 ;
    display: flex;
    flex-direction: row;
    justify-content: flex-start, space-around;
    align-items: center;
    height: 9vh;
    font-size: 1em;
    font-weight: bold;
}
.nav {
    margin-right: 5vh;
    margin-left: 60vh;
}
.navmenu{
    padding-left: 1vh;
    font-weight: lighter;
    font-size: small;
}
a{
    text-decoration: none;
    color: var(--color-darker);
    font-weight: bolder ;
}
.logo {
    padding-left: 18vw;
    padding-right: 2vw;
}
.btn{
    width: 100px;
    height: 35px;
    background-color: black;
    color: white;
    font-size: small;
    cursor: pointer;
    border: none; 
    border-radius: 45px;
}
.main-container{
    background-color:#FFC017 ;
    height: 45vh;
    display: flex;
}
.main-content{
    margin-right: 5vh;
    margin-left: 35vh;
}
h1{
    font-family: 'PT Serif', serif;
    font-size: 100px;
    cursor: pointer;
    margin-bottom: 35px;
    font-weight: lighter;
}
.main-text{
    font-size: 25px;
    width: 75%;
}
.btn2{
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px 45px;
    border-radius: 50px;
}
.btn3 {
    background-color:#E6E6E6 ;
    border:none;
    padding: 5px 15px;
    border-radius: 45px;
    color: rgb(105, 101, 101);
}
.btn3:hover{
    background-color:#ccc7c7 ;
    cursor: pointer;
}
.main-animation{
    height: 100%;
}

.trending-container {
    margin: 40px 205px 25px 64px;
    margin-left: 35vh;
}
.trending-logo{
    display: flex;
    align-items: center;
}
.trending-img,.news-img{
    height: 2vh;
    border-radius: 20%;
}
.card-container{
    display: flex;
    width: calc( 100% + 32px);
    flex-wrap: wrap;
}
.card-box{
    max-width: 25%;
    display: flex;
    align-items: flex-start;
    margin: 20px 10px;
    margin-right: 10vh;
}

h2 {
    font-size: 12px;
    font-weight:bold;
    letter-spacing: 1.5px;
    margin-left: 10px;
}
h3 {
    font-family: 'PT Serif', serif;
    color:#E6E6E6;
    font-size: 3vh;
    font-weight: 700;
    margin-right: 20px;
}
h4 {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    color: var(--color-main);
}
h5 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    padding-top: 4px;
    padding-bottom: 8px;
    color: var(--color-lighter);
}
.news {
}
.news-items {
    
}
.title {
    margin-bottom: 8px;
}
.name {
    font-size: small;
}
.date{
    font-size: small;
}
.preview-img{
    width: 200px;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
